<div class="mt-8 flex justify-center space-x-2">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="px-3 py-1 border border-tertiary rounded">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}"
           class="px-3 py-1 border border-tertiary rounded">Назад</a>
    {% endif %}

    <span class="px-3 py-1">Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 border border-tertiary rounded">Вперёд</a>
        <a href="?page={{ page_obj.paginator.num_pages }}"
           class="px-3 py-1 border border-tertiary rounded">Последняя</a>
    {% endif %}
</div>